<div class="level_box">
    <div class="box box-solid ">

        <div class="box-header with-border">
            <span class="level_title">Level: </span>
            <div class="btn-group">
                <button id="ns_button" type="button" class="btn btn-default">NS</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul id="ns_dropdown" class="dropdown-menu" role="menu">
                </ul>
            </div>
            <div class="btn-group">
                <button id="vnf_button" type="button" class="btn btn-default">VNF</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul id="vnf_dropdown"class="dropdown-menu" role="menu">
                </ul>
            </div>
            <div class="btn-group">
                <button id="vnffg_button" type="button" class="btn btn-default">VNFFG</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul id="vnffg_dropdown" class="dropdown-menu" role="menu">
                </ul>
            </div>
            <div class="btn-group">
                <button id="vl_button" type="button" class="btn btn-default">VL</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul id="vl_dropdown" class="dropdown-menu" role="menu">
                </ul>
            </div>
        </div>
    </div>
</div>

<script>



</script>