<div class="btn-group-vertical left-tool-bar">

    <!-- <button id="topology_zoom_plus" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button> -->
    <!-- <button id="topology_zoom_minus" type="button" class="btn btn-default"><i class="fa fa-minus"></i></button> -->

    <button id="topology_play" type="button" class="btn btn btn-default" onclick="handleForce(this)"><i
            class="fa fa-play"></i></button>
    <button id="topology_pause" type="button" class="btn btn btn-default active" onclick="handleForce(this)"><i
            class="fa fa-pause"></i></button>
    <button id="vnffg_options" type="button" class="btn btn btn-default" onclick="clickVnffg()">VNFFG</button>

    <!-- <button id="topology_settings" type="button" class="btn btn-default"><i class="fa fa-gear"></i></button> -->

    <button id="topology_open_editor" type="button" class="btn btn-default" onclick="openEditor({{project_id}})"><i
            class="fa fa-edit"></i></button>

    <button id="topology_save" type="button" class="btn btn-default" onclick="savePositions(this)"><i
            class="fa fa-save"></i></button>
    <button id="topology_info_button" type="button" class="btn btn-default" data-toggle="modal"
            data-target="#modalTopologyInfoButton"><i class="fa fa-keyboard-o"></i></button>
</div>
<div id="vnffg_box" class="box box-default box-solid vnffg-box" style="display: none;">
    <div class="box-header with-border">
        <h3 class="box-title">VNFFG</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <select class="form-control" id="selection_vnffg" onchange="changeVnffg(this)"></select>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="show_all_checkbox" onchange="show_all_change(this)">
                Show all
            </label>
        </div>
        <button class="btn btn-default" onclick="newVnffg()">New VNFFG</button>
    </div>
    <!-- /.box-body -->
</div>


<!-- the draggable nodes -->
<div id="draggable-container" class="btn-group drag_box">

</div>