{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}


    <!-- Codemirror core CSS -->
    <link rel="stylesheet" href="{% static "codemirror/lib/codemirror.css" %}">
    <link rel="stylesheet" href="{% static "codemirror/addon/fold/foldgutter.css" %}" />
    <link rel="stylesheet" href="{% static "codemirror/theme/neat.css" %}">
    <link rel="stylesheet" href="{% static "codemirror/addon/dialog/dialog.css" %}">
    <link rel="stylesheet" href="{% static "codemirror/addon/display/fullscreen.css" %}">
    <link rel="stylesheet" href="{% static "codemirror/addon/display/autorefresh.js" %}">

    <link rel="stylesheet" href="{% static "AdminLTE/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
    <li><a href="{% url 'projects:open_project' project_id=project_id %}descriptors/{{descriptor_type}}">Descriptors {{descriptor_type}}</a></li>
    <li>Descriptor Editor</li>
{% endblock %}

{% block content_body %}
  	{{ block.super }}
<div class="row">
    <div class="col-md-12">
    <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active" id="yaml_li"><a href="#yaml" data-toggle="tab"><i class="fa fa-file-code-o"></i> YAML</a></li>
        <li id="json_li"><a href="#json" data-toggle="tab"><i class="fa fa-file-code-o"></i> JSON</a></li>
        <li id="form_li"><a href="#form" data-toggle="tab"><i class="fa fa-television"></i> Form View</a></li>

        <li class="pull-right"><button type="button" class="btn btn-block btn-primary btn-sm"  onclick="update()"><i class="fa fa-save"></i> Confirm</button></li>
    </ul>
    <div class="tab-content">


        <!-- /.tab-pane -->
        <div class="active tab-pane" id="yaml">
			<textarea id="code_editor_yaml">
            </textarea>
        </div>
        <!-- /.tab-pane-->

        <div class="tab-pane" id="json">
			<textarea id="code_editor_json">

            </textarea>
        </div>
        <div class="tab-pane" id="form">
            {% include "descriptor_form_view.html" %}
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->




</div>

    </div>
</div>
{% endblock %}

{% block resource_block %}
  	{{ block.super }}



    <script src="{% static "AdminLTE/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>


    <script src="{% static "codemirror/lib/codemirror.js" %}"></script>
    <script src="{% static "codemirror/lib/formatting.js" %}"></script>
    <script src="{% static "codemirror/addon/fold/foldcode.js" %}"></script>
    <script src="{% static "codemirror/addon/fold/foldgutter.js" %}"></script>
    <script src="{% static "codemirror/addon/fold/brace-fold.js" %}"></script>
    <script src="{% static "codemirror/mode/javascript/javascript.js" %}"></script>
    <script src="{% static "codemirror/mode/xml/xml.js" %}"></script>
    <script src="{% static "codemirror/mode/markdown/markdown.js" %}"></script>
    <script src="{% static "codemirror/addon/search/searchcursor.js" %}"></script>
    <script src="{% static "codemirror/addon/search/search.js" %}"></script>
    <script src="{% static "codemirror/addon/dialog/dialog.js" %}"></script>
    <script src="{% static "codemirror/addon/display/autorefresh.js" %}"></script>
    <script src="{% static "codemirror/addon/edit/matchbrackets.js" %}"></script>
    <script src="{% static "codemirror/addon/edit/closebrackets.js" %}"></script>
    <script src="{% static "codemirror/addon/display/fullscreen.js" %}"></script>
    <script src="{% static "codemirror/keymap/sublime.js" %}"></script>

    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "AdminLTE/plugins/select2/select2.full.min.js" %}"></script>

    <script>
var editorJSON;
var editorYaml;

    var json_editor_settings = {
            mode: "javascript",
            showCursorWhenSelecting: true,
            autofocus: true,
            lineNumbers: true,
            lineWrapping: true,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
            autoCloseBrackets: true,
            matchBrackets: true,
            extraKeys: {
                "F11": function(cm) {
                    cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                },
                "Esc": function(cm) {
                    if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                },
                "Ctrl-Q": function(cm) {
                    cm.foldCode(cm.getCursor());
                }
            },
            theme: "neat",
            keyMap: "sublime",
        }

    var yaml_editor_settings = {
            mode: "yaml-frontmatter",
            showCursorWhenSelecting: true,
            autofocus: true,
            autoRefresh: true,
            lineNumbers: true,
            lineWrapping: true,
            foldGutter: true,
            gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
            autoCloseBrackets: true,
            matchBrackets: true,
            extraKeys: {
                "F11": function(cm) {
                    cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                },
                "Esc": function(cm) {
                    if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                },
                "Ctrl-Q": function(cm) {
                    cm.foldCode(cm.getCursor());
                }
            },
            //theme: "neat",
            keyMap: "sublime",
        }

$(document).ready(function () {
   //var cmjsoneditor = CodeMirror.fromTextArea(document.getElementById("code_editor"), json_editor_settings);
   var myJsonTextArea = document.getElementById("code_editor_json");
   editorJSON = CodeMirror(function(elt) {
                    myJsonTextArea.parentNode.replaceChild(elt, myJsonTextArea);
                }, json_editor_settings );


   editorJSON.setValue(JSON.stringify({{ descriptor_strings.descriptor_string_json |safe }}, null,"\t"));
     editorJSON.setOption("autoRefresh", true);
   var myYamlTextArea = document.getElementById("code_editor_yaml");
   editorYaml = CodeMirror(function(elt) {
                    myYamlTextArea.parentNode.replaceChild(elt, myYamlTextArea);
                }, yaml_editor_settings );
   var des_strings = {{ descriptor_strings|safe }};
   editorYaml.setValue(des_strings.descriptor_string_yaml);


});



function update(){
            var id = $('.nav-tabs .active').attr('id');
            var type, text ;
            switch(id) {
                case 'yaml_li':
                    type = 'yaml';
                    text = editorYaml.getValue();
                    break;
                case 'json_li':
                    type = 'json';
                    text = editorJSON.getValue();
                    break;
                case 'form_li':
                    type = 'file'
                    return;
                    break;
            }
            console.log(text);
            $.ajax({
                    url: "/projects/{{project_id}}/descriptors/{{descriptor_type}}/{{descriptor_id}}/",
                    type: 'POST',
                    dataType: 'json',
                    data: { 'csrfmiddlewaretoken' : '{{csrf_token}}',
                            'type': type,
                            'text': text
                     },
                    success: function(result) {
                        console.log("modificato");
                        //window.location.href="/projects/{{project_id}}/descriptors/{{descriptor_type}}/{{descriptor_id}}/"
                    },
                    error: function(result) {
                        console.log(result)
                        alert("some error");
                    }
                });
        }


    </script>
{% endblock %}

