{% load staticfiles %}
{% include 'modals/new_descriptor_name.html' %}
<div class="col-md-12">

    <div class="box">
        <div class="box-header with-border">
                  <h3 class="box-title">
                  </h3>
            <div class="box-tools">
                <a href="javascript:createNewDescriptor('{{project_id}}', '{{descriptor_type}}')"class="btn btn-block btn-primary btn-sm"><i class="fa fa-plus"></i><span> Create {{descriptor_type}}</span></a>
            </div>
        </div>
        <div class="box-body">
            {% if descriptor_type == 'nsd' %}
                {% include 'descriptorlist_nsd.html' %}
            {% elif descriptor_type == 'vld' %}
                {% include 'descriptorlist_vld.html' %}
            {% elif descriptor_type == 'vnfd' %}
                {% include 'descriptorlist_vnfd.html' %}
            {% elif descriptor_type == 'vnffgd' %}
                {% include 'descriptorlist_vnffgd.html' %}
            {% endif %}
        </div>
    </div>
</div>