{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

    <link rel="stylesheet" href="{% static "AdminLTE/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">Project {{project_id}}</a></li>
    <li>Download Projec</li>
{% endblock %}

{% block content_body %}
  	{{ block.super }}
<div class="row">
    <div class="col-sm-6">
      <div class="box box-warning">
        <div class="box-header with-border">
          <h3 class="box-title">Source Code</h3>
          <span class="label label-danger pull-right"><i class="fa fa-database"></i></span>
        </div><!-- /.box-header -->
          <div class="box-body">
              <form role="form" method="post">
                  {% csrf_token %}
                  <div class="box-body">
                      <p>Download all descriptor files. </p>
                      <div class="form-group">
                          <label>Select file type:</label>
                          <div class="radio">
                              <label>
                                  <input type="radio" id="yaml_checkbox" value="yaml" disabled> YAML
                              </label>
                          </div>
                          <div class="radio">
                              <label>
                                  <input type="radio" id="json_checkbox" value="json" selected> JSON
                              </label>
                          </div>

                      </div>

                      <!-- /.box-body -->


                  </div>
                  <div class="box-footer">
                          <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
                      </div>
              </form>


        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}
    <script src="{% static "topology3D/js/lib/jquery-ui.js" %}"></script>


    <script src="{% static "AdminLTE/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "AdminLTE/plugins/select2/select2.full.min.js" %}"></script>

    <script>




$(document).ready(function () {


});



    </script>
{% endblock %}

