<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="globalmenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href='{% url "home" %}'><i class="fa fa-dashboard"></i><span>Home</span></a></li>
            <li class="header">PROJECT</li>
            <li><a href='/projects/{{project_id}}/'><i class="fa fa-file-text"></i><span>Overview</span></a>
            </li>
            <li><a href='/projects/{{project_id}}/graph'><i class="fa fa-sitemap"></i><span>Show Graph</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder-open"></i> <span>Project descriptors</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a href="/projects/{{project_id}}/descriptors/nsd"><i class="fa fa-files-o"></i>NSD</a></li>
                    <li><a href="/projects/{{project_id}}/descriptors/vnffgd"><i class="fa fa-files-o"></i>VNFFGD</a>
                    <li><a href="/projects/{{project_id}}/descriptors/vnfd"><i class="fa fa-files-o"></i>VNFD</a></li>
                    <li><a href="/projects/{{project_id}}/descriptors/vld"><i class="fa fa-files-o"></i>VLD</a></li>
                    </li>

                </ul>
            </li>
            <li><a href="/projects/{{project_id}}/download"><i class="fa fa-download"></i><span>Download</span></a></li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>