{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}
    	<link rel="stylesheet" href="{% static "topology3D/css/graph_editor_d3js.css" %}">

    <link rel="stylesheet" href="{% static "AdminLTE/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">Project {{project_id}}</a></li>
    <li>Show Graph</li>

{% endblock %}

{% block content_body %}
  	{{ block.super }}
 {% csrf_token %}
<div class="row">
    <div id="graph_ed" style="border: 2px #3c8dbc solid;overflow-y: scroll; width: 100%; height: 480px;">
        {% include 'topology_toolbar.html' %}

        <div id="graph_ed_container" style="width: 100%; height: 100%; position:relative;">

        </div>
    </div>
</div>

{% include 'modals/edit_descriptor.html' %}

{% endblock %}

{% block resource_block %}
  	{{ block.super }}


    <script src="{% static "topology3D/js/event.js" %}"></script>
    <script src="{% static "topology3D/js/graph_editor.js" %}"></script>
    <script src="{% static "topology3D/js/etsi_graph_editor.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "AdminLTE/plugins/select2/select2.full.min.js" %}"></script>

    <script>
    var level = {
        "NSExample": {
            "vnf": ["vnf1", "vnf2", "vnf3"],
            "vnffg": ["vnffg1"],
            "vl": ["vl1", "vl2", "vl3", "vl4"]
        }
    };


    var graph_editor = new dreamer.ManoGraphEditor();
    graph_editor.init({
        width: window.innerWidth,
        height: window.innerHeight
    });

    var dropZone = document.getElementById('graph_ed_container');
    dropZone.ondrop = function(e) {
        var group = graph_editor.getCurrentGroup()
        e.preventDefault();
        var nodetype = e.dataTransfer.getData("text/plain");
        console.log(nodetype);
        if (nodetype) {
            graph_editor.addNode({
                'id': nodetype + "_" + Date.now(),
                'info': {
                    'type': nodetype,
                    'group': group
                },
                'x': e.layerX,
                'y': e.layerY
            });
        }

    }

    dropZone.ondragover = function(ev) {
        console.log("ondragover");
        return false;
    }

    dropZone.ondragleave = function() {
        console.log("ondragleave");
        return false;
    }

    function handleForce(el) {
        if(el.id == "topology_play"){
            $("#topology_pause").removeClass('active');
            $("#topology_play").addClass('active');
        }else{
            $("#topology_pause").addClass('active');
            $("#topology_play").removeClass('active');
        }

        graph_editor.handleForce((el.id == "topology_play") ? true : false);

    }
    function savePositions(el){
         var data = new FormData();
         data.append('csrfmiddlewaretoken','{{csrf_token}}');
         graph_editor.savePositions(data);
    }

    $(document).ready(function() {


        graph_editor.handleFiltersParams({
            node: {
                type : ['vnf', 'ns_cp', 'ns_vl'],
                group: []
            },
            link: {
                group: [],
                view: ['nsd']
            }
        });
        graph_editor.addListener("right_click_node", function(a, args) {
            //console.log("node_selected", a, args);
            $('#modal_edit_descriptor').modal('show');
        });
        graph_editor.addListener("filters_changed", function(e,c ){
            var type_property = graph_editor.getTypeProperty();
            $("#draggable-container").empty()
            for( var i in c.node.type){
                var event = 'event.dataTransfer.setData("text/plain","'+c.node.type[i]+'")'
                $("#draggable-container").append('<div class="external-event bg-green" id="'+c.node.type[i]+'" draggable="true" ondragstart='+event+' style="background-color: '+type_property[c.node.type[i]].color+' !important;">'+type_property[c.node.type[i]].name+'</div>');
            }
        });
    });
    </script>
{% endblock %}

