{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

    <link rel="stylesheet" href="{% static "adminlte/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}

{% endblock %}

{% block content_body %}
  	{{ block.super }}
<div class="row">
    <div class="col-md-6">
        <div class="box box-widget ">
            <div class="box-body">
              <ul class="nav nav-stacked">
                  <li><a href="#">Project Name: <span class="pull-right">{{project_overview.name}}</span></a></li>
                  <li><a href="#">Info: <span class="pull-right">{{project_overview.info}}</span></a></li>
                  <li><a href="#">Last updated: <span class="pull-right">{{project_overview.updated_date}}</span></a></li>
                  <li><a href="#">Owner: <span class="pull-right">{{project_overview.owner}}</span></a></li>
                  {% if project_overview.validated %}
                    <li><a href="#">Validated: <span class="pull-right badge bg-green">{{project_overview.validated}}</span></a></li>
                  {% else %}
                    <li><a href="#">Validated: <span class="pull-right badge bg-red">{{project_overview.validated}}</span></a></li>
                  {% endif %}
              </ul>

            </div>
            <div class="box-footer">

            </div>
          </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6 ">
              <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-code-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">NSD</span>
                        <span class="info-box-number">{{project_overview.nsd}}</span>
                    </div>
                    <!-- /.info-box-content -->
              </div>
          </div>

          <div class="col-md-6 ">
              <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-code-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">VNFFGD</span>
                      <span class="info-box-number">{{project_overview.vnffgd}}</span>
                    </div>
                    <!-- /.info-box-content -->
              </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-6 ">
              <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-code-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">VNFD</span>
                      <span class="info-box-number">{{project_overview.vnfd}}</span>
                    </div>
                    <!-- /.info-box-content -->
              </div>
          </div>

          <div class="col-md-6 ">
              <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-code-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">VLD</span>
                      <span class="info-box-number">{{project_overview.vld}}</span>
                    </div>
                    <!-- /.info-box-content -->
              </div>
          </div>
        </div>

    </div>
</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}
    <script src="{% static "topology3D/js/lib/jquery-ui.js" %}"></script>


    <script src="{% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "adminlte/plugins/select2/select2.full.min.js" %}"></script>

    <script>




$(document).ready(function () {


});



    </script>
{% endblock %}

