{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

{% endblock %}

{% block title_header_big %}
    {{ block.super }}
{% endblock %}

{% block left_sidebar %}

        {% include "deployment_list_left_sidebar.html" %}
{% endblock %}


{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'deployment:deployments_list' %}">Deployments</a></li>
{% endblock %}

{% block content_body %}
  	{{ block.super }}
 {% csrf_token %}
<div class="row">
<div class="col-md-12">

    <div class="box">
        <div class="box-header with-border">
                  <h3 class="box-title">Deployments in my Projects</h3>
            <!--<div class="box-tools">
                <a href="deployments/new/" class="btn btn-block btn-primary btn-sm"><i class="fa fa-plus"></i><span> New Deployment</span></a>
            </div>-->
        </div>
        <div class="box-body">
			<table id="deployments_table" class="table table-bordered table-striped">
				<thead>
					<tr>

						<th>Name</th>
						<th>Project</th>
						<th>Project Type</th>
						<th>Creator</th>
						<th>Status</th>
						<th>Created</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for exp in deployments %}
					<tr>

						<td>
							<a href="javascript:openDeployment('{{ exp.id }}')" >{{ exp.name }}</a>
						</td>
						<td>
                            <a href="javascript:openProject('{{ exp.project_id }}')" >{{ exp.project_name }}</a>
                        </td>
						<td>
                            {{ exp.project_type }}
                        </td>
						<td>{{ exp.creator }}</td>
						<td>{{ exp.status }}</td>
						<td>{{ exp.created_date }}</td>
						<td><div class="btn-group">
                            <button type="button" class="btn btn-default"><i class="fa fa-cog" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
								<li><a href='{% url "deployment:open_deployment" deployment_id=exp.id  %}'><i class="fa fa-stethoscope fa-fw"></i>Status</a></li>
                                <li><a href='{% url "deployment:delete_deployment" deployment_id=exp.id  %}'><i class="fa fa-trash fa-fw"></i>Delete</a></li>
                            </ul>
                        </div>
						</td>

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>
</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}



{% endblock %}