{% extends "left_sidebar_base.html" %}

{% block left_sidebar_base %}

    <li class="header">Deployment</li>
    {% url "deployment:open_deployment"  deployment_id=deployment.id as  deployment_url %}
    <li {% if request.get_full_path == deployment_url %} class="active" {% endif %} ><a
            href='{% url "deployment:open_deployment" deployment_id=deployment.id %}'><i
            class="fa fa-list-alt fa-fw"></i><span>Details</span></a></li>
    {% url "deployment:monitoring_deployment"  deployment_id=deployment.id as  monitoring_url %}
    <li {% if request.get_full_path == monitoring_url %} class="active" {% endif %} ><a
            href='{% url "deployment:monitoring_deployment" deployment_id=deployment.id %}'><i
            class="fa fa-desktop fa-fw"></i><span>Monitoring</span></a></li>

    {% block li_list %}


    {% endblock %}

{% endblock %}


