{% extends 'topology_toolbar.html' %}

{% block topology_toolbar_buttons %}
    {{ block.super }}
    <button id="layers_options" type="button" class="btn btn btn-default" onclick="clickView()">Views</button>
{% endblock %}

{% block boxes_toolbar %}
{{ block.super }}
<div id="view_box" class="box box-default box-solid vnffg-box" style="display: none;">
    <div class="box-header with-border">
        <h3 class="box-title">View</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <select class="form-control" id="selection_view" onchange="changeView(this)"></select>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}