<div class="btn-group-vertical left-tool-bar">

    <!-- <button id="topology_zoom_plus" type="button" class="btn btn-default"><i class="fa fa-plus"></i></button> -->
    <!-- <button id="topology_zoom_minus" type="button" class="btn btn-default"><i class="fa fa-minus"></i></button> -->

    <button id="topology_play" type="button" title="Play force" class="btn btn btn-default" onclick="handleForce(this)"><i
            class="fa fa-play"></i></button>
    <button id="topology_pause" type="button" title="Stop force" class="btn btn btn-default active" onclick="handleForce(this)"><i
            class="fa fa-pause"></i></button>
    {% block topology_toolbar_buttons %}

    {% endblock %}

    <!-- <button id="topology_settings" type="button" class="btn btn-default"><i class="fa fa-gear"></i></button> -->

    <button id="topology_open_editor" type="button" title="Edit descriptor" class="btn btn-default" onclick="openEditor({{project_id}})"><i
            class="fa fa-edit"></i></button>

    <button id="topology_save" type="button" title="Save positions" class="btn btn-default" onclick="savePositions(this)"><i
            class="fa fa-save"></i></button>

    <button id="topology_info_button" type="button" title="Info keyboard" class="btn btn-default" data-toggle="modal"
            data-target="#modalTopologyInfoButton"><i class="fa fa-keyboard-o"></i></button>
</div>
{% block boxes_toolbar %}

{% endblock %}



<div id="palette" >
    <div id="palette_status_indicator" class="palette-status-indicator">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
    </div>
    <div id="paletteContainer" class="palette-container">

    </div>
</div>
