<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="globalmenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href='{% url "home" %}'><i class="fa fa-home fa-fw"></i><span>Home</span></a></li>
            <li class="header">Deployment</li>
            <li><a href='/deployments/{{deployment_id}}/'><i class="fa fa-file-text fa-fw"></i><span>Details</span></a>
            </li>
            {% block li_list %}


            {% endblock %}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>