<div id="div-file-upload-tosca" class="start-selector" style="display: none;">
    <h4>Select Descriptors File from your computer</h4>

    <div class="tab-pane col-md-6" id="toscayaml-upload">

        <!-- Standar Form -->
        <h3>Tosca YAML files</h3>
        <div class="form-inline">
            <div class="form-group">
                <input type="file" name="toscayaml_files" id="toscayaml-js-upload-files" multiple>
            </div>
        </div>

    </div>
</div>


<div id="div-example-tosca" class="start-selector" style="display: none;">

    <select id="example-tosca" class="example-selector" data-type="tosca" name="example-tosca-id">

    </select>


</div>