{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
    <li>Export Project</li>
{% endblock %}

{% block content_body %}
  	{{ block.super }}
<div class="row">
    <div class="col-sm-6">
      <div class="box box-solid box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Export project files</h3>
          <span class="label label-primary pull-right"><i class="fa fa-download"></i></span>
        </div><!-- /.box-header -->
          <form role="form" method="post">
                  {% csrf_token %}
          <div class="box-body">


                      <p>Download the archive of all descriptor files. </p>





        </div><!-- /.box-body -->
          <div class="box-footer">
                      <button type="submit" class="btn btn-primary" value="json"><i class="fa fa-file-archive-o"></i> Download JSON</button>
                      <button type="submit" class="btn btn-primary" value="yaml" disabled><i class="fa fa-file-archive-o" ></i> Download YAML</button>
                  </div>
              </form>
      </div><!-- /.box -->

    </div>
</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}


    <script>




$(document).ready(function () {


});



    </script>
{% endblock %}

