{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

    <link rel="stylesheet" href="{% static "AdminLTE/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>

{% endblock %}

{% block content_body %}
  	{{ block.super }}
{% if alert_message %}
    {% if alert_message.success %}
        <div class="alert alert-success alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-check"></i> Success</h4>
            {{alert_message.message}}
        </div>
    {% endif %}
    {% if not alert_message.success %}
        <div class="alert alert-danger alert-dismissible fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-ban"></i> Alert!</h4>
            {{alert_message.message}}
        </div>
    {% endif %}
{% endif %}
<div class="row">
    {% include "descriptorlist.html" %}
</div>
{% endblock %}




{% block resource_block %}
  	{{ block.super }}


    <script src="{% static "AdminLTE/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "AdminLTE/plugins/select2/select2.full.min.js" %}"></script>

    <script>


function openDescriptorView(project_id, descriptor_type, descriptor_id){
console.log("openDescriptorView", project_id, descriptor_type, descriptor_id);
    window.location.href='/projects/' + project_id + '/descriptors/' + descriptor_type + '/' + descriptor_id;

}

$(document).ready(function () {
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 4000);

});



    </script>
{% endblock %}

