{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

    <link rel="stylesheet" href="{% static "AdminLTE/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}
    {% include 'project_base_left_sidebar.html' %}
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    {% if project_id  %}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
    <li>Delete Project</li>
    {% endif %}
{% endblock %}

{% block content_body %}
  	{{ block.super }}
<div class="row">
    {% if project_id  %}
        <div class="col-sm-5">
      <div class="box box-danger">
        <div class="box-header with-border">
              <i class="fa fa-warning"></i>

              <h3 class="box-title">Warning</h3>
        </div>
          <div class="box-body">
              <form role="form" method="post">
                  {% csrf_token %}
                  <div class="box-body">

                        <p>The Project <strong>{{project_name}}</strong> will be deleted!</p>


                      <!-- /.box-body -->

                  </div>
                   <div class="box-footer">
                          <button type="submit" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> Delete</button>
                   </div>
              </form>


        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div>
    {% endif %}
</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}
    <script src="{% static "topology3D/js/lib/jquery-ui.js" %}"></script>


    <script src="{% static "AdminLTE/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "AdminLTE/plugins/select2/select2.full.min.js" %}"></script>

    <script>




$(document).ready(function () {
    {% if project_id == None %}
      window.location.href='{% url "home"  %}';
    {% endif %}

});



    </script>
{% endblock %}

