{% load staticfiles %}
{% include 'modal/new_descriptor_name.html' %}
<div class="col-md-12">

    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
            </h3>
            <div class="box-tools">
                <a href="javascript:createNewDescriptor('{{project_id}}', '{{descriptor_type}}')"
                   class="btn btn-block btn-primary btn-sm"><i
                        class="fa fa-plus"></i><span> Create {{descriptor_type}}</span></a>
            </div>
        </div>
        <div class="box-body">

            <table id="descriptors_table" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th><span> Actions</span></th>
                </tr>
                </thead>
                <tbody>
                {% for k in descriptors %}
                <tr>
                    <td><a href='/projects/{{project_id}}/graph?type={{descriptor_type}}&id={{ k }}'>{{ k }}</a></td>

                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default">Action</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="javascript:openDescriptorView('{{project_id}}', '{{descriptor_type}}', '{{ k }}')"><i
                                            class="fa fa-pencil fa-fw"></i>Edit</a></li>
                                <li><a href='/projects/{{project_id}}/graph?type={{descriptor_type}}&id={{ k }}'><i
                                        class="fa fa-sitemap fa-fw"></i>Show graph</a></li>
                                <li>
                                    <a href="javascript:cloneDescriptor('{{project_id}}', '{{descriptor_type}}', '{{ k }}')"
                                       disabled><i
                                            class="fa fa-clone   fa-fw"></i>Clone</a></li>
                                <li class="divider"></li>
                                <li><a href="/projects/{{project_id}}/descriptors/{{descriptor_type}}/{{k}}/delete"><i
                                        class="fa fa-trash-o fa-fw"></i>Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>