<div id="div-file-upload-cran" class="start-selector"  style="display: none;">
    <h4>Select Descriptors File from your computer</h4>

    <div class="tab-pane col-md-6" >

        <!-- Standar Form -->
        <h3>Descriptor</h3>
        <div class="form-inline">
            <div class="form-group">
                <input type="file"  name="ns_files" id="ns-js-upload-files" multiple>
            </div>
        </div>

    </div>

</div>

<div id="div-example-cran" class="start-selector" style="display: none;">

    <select id="example-cran" class="example-selector" data-type="cran" name="example-cran-id">

    </select>


</div>