{% extends "project_details.html" %}


{% block left_sidebar %}
    {% include 'exampletoken/exampletoken_project_left_sidebar.html' %}
{% endblock %}

{% block content_descritors_col %}
{{ block.super }}
<div class="row">
    <div class="col-md-6 ">

        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>0</h3>

                <p>Exampletoken type</p>
            </div>
            <div class="icon">
                <i class="fa fa-file-code-o"></i>
            </div>
            <a href="/projects/{{project_id}}/descriptors/exampletokentype" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    <!--
    <div class="col-md-6 ">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{project_overview.vnfd}}</h3>

                <p>VNFD</p>
            </div>
            <div class="icon">
                <i class="fa fa-file-code-o"></i>
            </div>
            <a href="/projects/{{project_id}}/descriptors/vnfd" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
    -->
</div>
<div class="row">


</div>
{% endblock %}
