{% extends "project_graph_base.html" %}

{% load staticfiles %}

{% block title_header_big %}
    {{ block.super }}
{% endblock %}

{% block left_sidebar %}
    {% include 'exampletoken/exampletoken_project_left_sidebar.html' %}
{% endblock %}

{% block topology_toolbar %}
    {{ block.super }}
        {% include 'exampletoken/topology_toolbar.html' %}
{% endblock %}

{% block content_body %}
  	{{ block.super }}
 {% csrf_token %}


{% include 'exampletoken/descriptor/modal/create_link_chooser.html' %}
{% include 'exampletoken/descriptor/modal/choose_node_id.html' %}
{% include 'exampletoken/modal/modal_keyboard_info.html' %}
{% endblock %}

{% block resource_block %}
  	{{ block.super }}

    <script src="{% static "topology3D/js/model_graph_editor.js" %}"></script>
    <!-- exampletoken -->
    <script src="{% static "src/projecthandler/exampletoken/gui_properties.js" %}"></script>
    <script src="{% static "src/projecthandler/exampletoken/project_graph.js" %}"></script>
    <script src="{% static "src/projecthandler/exampletoken/controller.js" %}"></script>

<script>
    graph_editor.project_id = '{{project_id}}'

</script>
{% endblock %}

