
.node_path {
  opacity: 1;
  stroke: #2F3550;
  stroke-width: 1;
}

.node_selected {
  opacity: 2 !important;
  stroke: #2F3550 !important;
  stroke-width: 3 !important;
}

.node_path:hover {
  opacity: 2;
  stroke: #2F3550;
  stroke-width: 3;
}

.node_path:hover text{
  opacity: 0.4;

}

.drag_box {
    padding: 0 40px 0 0;
    margin-bottom: 0px !important;
    padding-top: 0px;
    top: 14px;
    /* right: 25px !important; */
    /* width: 15%; */
    position: absolute;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0;
    cursor: move;
}

.drag_button {
    cursor: move !important;
    border-style: dashed;
    border-width: thin;
    border-color: black;
    color: white;
    font-size: larger;

}


.left-tool-bar {
    top: 14px;
    cursor: default;
    padding: 0 6px;
    line-height: 22px;
    position: absolute;

    padding-top: 0px;
    padding-bottom: 0px;

    /* top: 7px; */
    /* right: 6px; */
    z-index: 1;
    text-align: center;
    font-size: 12px;
    /*color: #777;
    /* border-radius: 20px; */

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




textarea {
  font-family: "Lucida Console", Monaco, monospace;
  height: 350px !important;
  resize: none;
}

#modal_dialog_edit_descriptor{
  width: 96%;
  max-width: 1100px;
}

.form-group {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.modal-body {
  overflow-y: auto;
}

[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}


