{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}
	<link rel="stylesheet" href="{% static "topology3D/css/graph_editor_d3js.css" %}">

    <link rel="stylesheet" href="{% static "adminlte/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}

{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}

{% endblock %}

{% block content_body %}
  	{{ block.super }}

  	<div id="graph_ed" style="border: 2px #3c8dbc solid;overflow-y: scroll; width: 100%; height: 100%;">
        {% include 'topology_toolbar.html' %}
        <div id="graph_ed_container" style="width: 100%; height: 100%; position:relative;">

        </div>

  	</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}
    <script src="{% static "topology3D/js/lib/jquery-ui.js" %}"></script>

    <script src="{% static "topology3D/js/config.js" %}"></script>
    <script src="{% static "topology3D/js/vmmcontroller.js" %}"></script>
    <script src="{% static "topology3D/js/vertex.js" %}"></script>
    <script src="{% static "topology3D/js/domaincontroller/domaincontroller.js" %}"></script>
    <script src="{% static "topology3D/js/domaincontroller/etsimano.js" %}"></script>
    <script src="{% static "topology3D/js/link.js" %}"></script>
    <script src="{% static "topology3D/js/layer.js" %}"></script>
    <script src="{% static "topology3D/js/event.js" %}"></script>
    <script src="{% static "topology3D/js/algebra.js" %}"></script>
    <script src="{% static "topology3D/js/graph_parameters.js" %}"></script>
    <script src="{% static "topology3D/js/edge.js" %}"></script>
    <script src="{% static "topology3D/js/graph_editor_d3js.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "AdminLTE/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>



    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- Select2 -->
    <script src="{% static "AdminLTE/plugins/select2/select2.full.min.js" %}"></script>

    <script>


    var graph_editor = new dreamer.GraphEditor({
        width: window.innerWidth,
        height: window.innerHeight
    });



    </script>
{% endblock %}