{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}
	<link rel="stylesheet" href="{% static "topology3D/css/graph_editor.css" %}">

    <link rel="stylesheet" href="{% static "adminlte/plugins/select2/select2.css" %}">
{% endblock %}

{% block left_sidebar %}

{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}

{% endblock %}

{% block content_body %}
  	{{ block.super }}
  	<div id="graph_ed">
  	</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}
    <script src="{% static "topology3D/js/lib/jquery-ui.js" %}"></script>

    <script src="{% static "topology3D/js/config.js" %}"></script>
    <script src="{% static "topology3D/js/vmmcontroller.js" %}"></script>
    <script src="{% static "topology3D/js/vertex.js" %}"></script>
    <script src="{% static "topology3D/js/domaincontroller/domaincontroller.js" %}"></script>
    <script src="{% static "topology3D/js/domaincontroller/etsimano.js" %}"></script>
    <script src="{% static "topology3D/js/link.js" %}"></script>
    <script src="{% static "topology3D/js/layer.js" %}"></script>
    <script src="{% static "topology3D/js/event.js" %}"></script>
    <script src="{% static "topology3D/js/algebra.js" %}"></script>
    <script src="{% static "topology3D/js/graph_parameters.js" %}"></script>
    <script src="{% static "topology3D/js/edge.js" %}"></script>
    <script src="{% static "topology3D/js/graph_editor.js" %}"></script>
    <script src="{% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}"></script>




    <!-- Select2 -->
    <script src="{% static "adminlte/plugins/select2/select2.full.min.js" %}"></script>

    <script>



        var topology_data_string = {{ topology_string |safe }};//JSON.stringify({{ topology_string |safe }});
        $('#myModalLoading').modal('show');
        my_graph_editor = new GraphEditor('#graph_ed', {
            //  example: example,
            //node_halo_prop: "role",
            //node_halo_value: "Border Router",
            data_topology: topology_data_string,
            node_radius: 18.0,
            multigraph: true,
            resize_with_container: true,
            width: $('#graph_ed').width(),
            height: 400
        });

         my_graph_editor.load("etsimano");

         my_graph_editor.addListener("topology_loaded", function(a, args) {
            my_graph_editor.circular_layout_by_property("role", "circular");
            //my_graph_editor.toggle_live(true);
            my_graph_editor.set_layer('nsd');
            //$('#myModalLoading').modal('hide');
            console.log("topoloaded");
            my_graph_editor.toggle_live(true);
         });



</script>
{% endblock %}