{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
{{ block.super }}

{% endblock %}

{% block left_sidebar %}
<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="globalmenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href='{% url "home" %}'><i class="fa fa-dashboard"></i><span>Home</span></a></li>
            <li><a href='{% url "projects:new_project" %}'><i class="fa fa-file-text"></i><span>New Project</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
{% endblock %}

{% block breadcrumb_body %}
{{ block.super }}
<li><a href='{% url "projects:new_project" %}'>New Project</a></li>
{% endblock %}

{% block content_body %}
{{ block.super }}
<div class="row">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">New Project</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="box-body">
                    <div class="row">
                        <div class="form-group col-xs-3">
                            <p for="projectName">Project Name</p>
                            <input type="text" class="form-control" name="name" id="projectName"
                                   placeholder="Enter Project name">
                        </div>
                        <div class="form-group col-xs-4">
                            <p for="projectInfo">Info</p>
                            <input type="text" class="form-control" name="info" id="projectInfo"
                                   placeholder="Description info">
                        </div>
                        <div class="form-group col-xs-5">
                            <p for="typeButtonsSelect">Type</p>

                            <div id="typeButtonsSelect" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="type" id="option1" autocomplete="off" value="etsi"
                                           checked> Etsi Mano
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="type" id="option2" autocomplete="off" value="click"> Click
                                </label>
                                <label class="btn btn-primary" disabled>
                                    <input type="radio" name="type" id="option3" autocomplete="off" value="superfluidity" > Superfluidity
                                </label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-xs-5">
                            <p for="startButtonsSelect">Start From</p>

                            <div id="startButtonsSelect" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    <input type="radio" name="startfrom" id="s-scratch" autocomplete="off" value="scratch"
                                           checked>
                                    Empty
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="startfrom" id="s-files" autocomplete="off" value="files">
                                    From exisiting descriptors
                                </label>
                                <label class="btn btn-primary">
                                    <input type="radio" name="startfrom" id="s-example" autocomplete="off" value="example">
                                    From Example
                                </label>

                            </div>
                        </div>
                    </div>

                    <div id="div-file-upload-etsi" style="display: none;">
                        <h4>Select Descriptors File from your computer</h4>

                        <div class="tab-pane col-md-6" id="ns-upload">

                            <!-- Standar Form -->
                            <h3>Network Service</h3>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="file" accept=".json, .yaml" name="ns_files" id="ns-js-upload-files" multiple
                                           onchange="handleFiles(this.files)">
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane col-md-6" id="vnf-upload">

                            <!-- Standar Form -->
                            <h3>Virtual Network Function</h3>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="file" accept=".json, .yaml" name="vnf_files" id="vnf-js-upload-files" multiple
                                           onchange="handleFiles(this.files)">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="div-file-upload-click" style="display: none;">
                        <h4>Select Descriptors File from your computer</h4>

                        <div class="tab-pane col-md-6" id="cfg-upload">

                            <!-- Standar Form -->
                            <h3>Configuration files</h3>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="file" name="cfg_files" id="cfg-js-upload-files" multiple
                                           onchange="handleFiles(this.files)">
                                </div>
                            </div>

                        </div>

                    </div>


                    <!-- /.box-body -->
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
        <!-- /.box -->

    </div>
</div>
{% endblock %}

{% block resource_block %}
{{ block.super }}


<script>


function handleFiles(files){
console.log(files);
for (var i = 0; i < files.length; i++) {
    console.log(i, files[i].size)
    var file = files[i];
    if (files[i].type == "application/json" || files[i].type == "") {

    }
    else{

    }


  }
}

function removeFile(file_id){


}

function handleTypeChoose(type){

    if(type == 'click'){

    }
    else if ( type == 'etsi'){


    }
    else if ( type == 'superfluidity'){


    }
}

function startFromChoose(start){
    resetFilesSelectors();
    var type = $('input[name="type"]:checked').val();
    if(start == 'scratch'){

    }
    else if ( start == 'files'){
        $('#div-file-upload-'+type).show();

    }
    else if ( start == 'example'){


    }
}

function resetFilesSelectors(){
    $('#div-file-upload-etsi').hide();
    $('#div-file-upload-click').hide();
}


$(document).ready(function () {

    $("#typeButtonsSelect :input").change(function(e) {
        handleTypeChoose(this.value)
    });

    $("#startButtonsSelect :input").change(function() {
        startFromChoose(this.value);
    });


    {% if project_id %}
      window.location.href='{% url "projects:open_project" project_id %}';
    {% endif %}
});




</script>
{% endblock %}

