{% extends "left_sidebar_base.html" %}

{% block left_sidebar_base %}
    <li class="header">PROJECT</li>
    {% url "projects:open_project"  project_id=project_id as  project_url %}
    <li {% if request.get_full_path == project_url %} class="active" {% endif %} ><a href='{% url "projects:open_project"  project_id=project_id%}'><i class="fa fa-file-text fa-fw"></i><span>Overview</span></a>
    </li>
    {% block li_list %}


    {% endblock %}
    {% url "projects:download_page"  project_id=project_id as  download_url %}
    <li {% if request.get_full_path == download_url %} class="active" {% endif %} ><a href='{% url "projects:download_page"  project_id=project_id%}'><i class="fa fa-download fa-fw"></i><span>Export</span></a></li>
{% endblock %}
