{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}
    	<link rel="stylesheet" href="{% static "topology3D/css/graph_editor_d3js.css" %}">
    	<link rel="stylesheet" href="{% static "topology3D/css/d3-context-menu.css" %}">
{% endblock %}
{% block title_header_big %}
    {{ block.super }}
{% endblock %}
{% block left_sidebar %}

{% endblock %}


{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview_data.name}}</a></li>
{% endblock %}

{% block content_body %}
  	{{ block.super }}
 {% csrf_token %}
<div class="row" >
    <div class="col-md-12">
        {% block topology_toolbar %}


        {% endblock %}
        <div id="graph_ed_container" style="width: 100%; height:100%; background-color: white; border: 2px #3c8dbc solid;">

        </div>
    </div>
</div>


{% endblock %}

{% block resource_block %}
  	{{ block.super }}

    <!-- d3.js -->
    <script src="{% static "d3/d3.js" %}" charset="utf-8"></script>

    <!-- topology3D -->
    <script src="{% static "topology3D/js/d3-context-menu.js" %}"></script>
    <script src="{% static "topology3D/js/event.js" %}"></script>
    <script src="{% static "topology3D/js/graph_editor.js" %}"></script>
    <script src="{% static "topology3D/js/graph_request.js" %}"></script>

{% endblock %}


{% block header %}
{% endblock %}

