{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

{% endblock %}

{% block left_sidebar %}
    {{ block.super }}

{% endblock %}

{% block title_header_big %}
    {{ block.super }}
    {{project_overview.name}}
{% endblock %}

{% block title_header_small %}
    {{ block.super }}
    Overview
{% endblock %}

{% block breadcrumb_body %}
  	{{ block.super }}
    <li><a href="{% url 'projects:projects_list' %}">Projects</a></li>
    <li><a href="{% url 'projects:open_project' project_id=project_id %}">{{project_overview.name}}</a></li>
{% endblock %}

{% block content_body %}
  	{{ block.super }}
<div class="row">
    <div class="col-md-6">
        <div class="box box-widget">
            <div class="box-footer no-padding">
                <ul class="nav nav-stacked">
                    <li><a><b>Project Name:</b> <span class="pull-right">{{project_overview.name}}</span></a>
                    </li>
                    <li><a><b>Info:</b> <span
                            class="pull-right">{{project_overview.info}}</span></a></li>
                    <li><a><b>Last updated:</b> <span class="pull-right">{{project_overview.updated_date}}</span></a>
                    </li>
                    <li><a><b>Owner:</b> <span
                            class="pull-right">{{project_overview.owner}}</span></a></li>

                    <li><a><b>Validated:</b>
                        {% if project_overview.validated %}
                        <span class="pull-right badge bg-green">{{project_overview.validated}}</span>
                        {% else %}
                        <span class="pull-right badge bg-red">{{project_overview.validated}}</span>
                        {% endif %}
                    </a>

                    </li>

                </ul>

            </div>

        </div>
    </div>
    <div class="col-md-6">
        {% block content_descritors_col %}

        {% endblock %}
    </div>
</div>

{% endblock %}

{% block resource_block %}
  	{{ block.super }}


{% endblock %}


