{% extends "base.html" %}

{% load staticfiles %}

{% block head_block %}
  	{{ block.super }}

{% endblock %}
{% block title_header_big %}
    {{ block.super }}
{% endblock %}
{% block left_sidebar %}

	<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar" id="globalmenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li><a href='{% url "home" %}'><i class="fa fa-home fa-fw"></i><span>Home</span></a></li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

{% endblock %}


{% block breadcrumb_body %}
  	{{ block.super }}

{% endblock %}

{% block content_body %}
  	{{ block.super }}
 {% csrf_token %}

<div class="col-md-12">

    <div class="box">
        <div class="box-header with-border">
                  <h3 class="box-title">Projects</h3>
            <div class="box-tools">
                <a href="{% url 'projects:new_project' %}" class="btn btn-block btn-primary btn-sm"><i class="fa fa-plus"></i><span> New Project</span></a>
            </div>
        </div>
        <div class="box-body">
			<table id="projects_table" class="table table-bordered table-striped">
				<thead>
					<tr>

						<th>Name</th>
						<th>Info</th>
						<th>Type</th>
						<th>Modification Date</th>
						<th>Creation Date</th>

						<th>Owner</th>
						<th>Validated</th>
						<th><i class="fa fa-trash-o"></i></th>
					</tr>
				</thead>
				<tbody>
				{% for p in projects %}
					<tr>

						<td>
							<a href="javascript:openProject('{{ p.id }}')" >{{ p.name }}</a>
						</td>
						<td>{{ p.info }}</td>
						<td>{{ p.get_type }}</td>
						<td>{{ p.updated_date }}</td>
						<td>{{ p.created_date }}</td>
						<td>{{ p.owner.username }}</td>
						<td>
							{% if p.validated %}
							<span class="label label-success">
								{{ p.validated }}
							</span>
							{% else %}
							<span class="label label-danger">
								{{ p.validated }}
							</span>
							{% endif %}
						</td>
						<td><a href="{% url 'projects:delete_project' project_id=p.id %}"> Delete</a></td>

					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
    </div>
</div>


{% endblock %}

{% block resource_block %}
  	{{ block.super }}



{% endblock %}