<div id="div-file-upload-osm" class="start-selector"  style="display: none;">
    <h4>Select Descriptors File from your computer</h4>

    <div class="tab-pane col-md-6" >

        <!-- Standar Form -->
        <h3>Descriptor</h3>
        <div class="form-inline">
            <div class="form-group">
                <input type="file"  name="ns_files" id="ns-js-upload-files" multiple>
            </div>
        </div>

    </div>

</div>

<div id="div-example-osm" class="start-selector" style="display: none;">

    <select id="example-osm" class="example-selector" data-type="osm" name="example-osm-id">

    </select>


</div>