{% extends "project_graph_base.html" %}

{% load staticfiles %}

{% block logo_sidebar %}
    {% with logo_mini="assets/img/osm_small_logo.png" logo="assets/img/OSM-logo.png"%}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title_header_big %}
    {{ block.super }}
{% endblock %}

{% block left_sidebar %}
    {% include 'osm/osm_project_left_sidebar.html' %}
{% endblock %}

{% block topology_toolbar %}
    {{ block.super }}
        {% include 'osm/topology_toolbar.html' %}
{% endblock %}

{% block content_body %}
  	{{ block.super }}
 {% csrf_token %}


{% include 'osm/descriptor/modal/create_link_chooser.html' %}
{% include 'osm/descriptor/modal/choose_node_id.html' %}
{% include 'osm/modal/modal_keyboard_info.html' %}
{% endblock %}

{% block resource_block %}
  	{{ block.super }}

    <script src="{% static "topology3D/js/model_graph_editor.js" %}"></script>
    <!-- osm -->
    <script src="{% static "src/projecthandler/osm/gui_properties.js" %}"></script>
    <script src="{% static "src/projecthandler/osm/project_graph.js" %}"></script>
    <script src="{% static "src/projecthandler/osm/controller.js" %}"></script>

<script>
    graph_editor.project_id = '{{project_id}}'

</script>
{% endblock %}

{% block footer %}
    {% include "footer.html" with proj_name="Lightweight-OSM" %}
{% endblock %}